<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultCoin</key>
	<dict>
		<key>animationFrames</key>
		<string>0,1</string>
		<key>delay</key>
		<real>0.65</real>
		<key>filenamePrefix</key>
		<string>coin</string>
	</dict>
</dict>
</plist>
